{
    "IntArray":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "IntArrayGet":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "IntArrayIter":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "FloatArray":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "FloatArrayGet":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "FloatArrayIter":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "BoolArray":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "BoolArrayGet":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "BoolArrayIter":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "StringArray":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "StringArrayGet":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "StringArrayIter":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "Range":
    {
        "category": "Array",
        "bg": [20, 40, 45, 255],
        "border": [20, 40, 45, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 40, 45, 255],
        "port_text": [230, 230, 230, 255]
    },

    "ArrayLen":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    },

    "ArrayExtend":
    {
        "category": "Array",
        "bg": [140, 140, 140, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [140, 140, 140, 255],
        "port_text": [40, 40, 40, 255]
    }
}
