{
    "DasRead":
    {
        "category": "Exec",
        "bg": [180, 173, 0, 255],
        "border": [220, 127, 15, 255],
        "border_sel": [220, 127, 15, 255],
        "text": [220, 127, 15, 255],
        "port_bg": [180, 173, 0, 255],
        "port_text": [30, 15, 0, 255]
    },
    "DasWrite":
    {
        "category": "Exec",
        "bg": [180, 173, 0, 255],
        "border": [220, 127, 15, 255],
        "border_sel": [220, 127, 15, 255],
        "text": [220, 127, 15, 255],
        "port_bg": [180, 173, 0, 255],
        "port_text": [30, 15, 0, 255]
    },
    "DasGet":
    {
        "category": "Exec",
        "bg": [180, 173, 0, 255],
        "border": [220, 127, 15, 255],
        "border_sel": [220, 127, 15, 255],
        "text": [220, 127, 15, 255],
        "port_bg": [180, 173, 0, 255],
        "port_text": [30, 15, 0, 255]
    },
    "DasSet":
    {
        "category": "Exec",
        "bg": [180, 173, 0, 255],
        "border": [220, 127, 15, 255],
        "border_sel": [220, 127, 15, 255],
        "text": [220, 127, 15, 255],
        "port_bg": [180, 173, 0, 255],
        "port_text": [30, 15, 0, 255]
    },
    "DasEval":
    {
        "category": "Exec",
        "bg": [180, 173, 0, 255],
        "border": [220, 127, 15, 255],
        "border_sel": [220, 127, 15, 255],
        "text": [220, 127, 15, 255],
        "port_bg": [180, 173, 0, 255],
        "port_text": [30, 15, 0, 255]
    },
    "DasAdd":
    {
        "category": "Exec",
        "bg": [180, 173, 0, 255],
        "border": [220, 127, 15, 255],
        "border_sel": [220, 127, 15, 255],
        "text": [220, 127, 15, 255],
        "port_bg": [180, 173, 0, 255],
        "port_text": [30, 15, 0, 255]
    }
}
