{
    "FileRead":
    {
        "category": "File",
        "bg": [160, 100, 40, 255],
        "border": [160, 100, 40, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [160, 100, 40, 255],
        "port_text": [230, 230, 230, 255]
    },

    "FileWrite":
    {
        "category": "File",
        "bg": [160, 100, 40, 255],
        "border": [160, 100, 40, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [160, 100, 40, 255],
        "port_text": [230, 230, 230, 255]
    },

    "ListDir":
    {
        "category": "File"
    }
}
