{
    "Compare":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 75, 150, 255],
        "port_text": [230, 230, 230, 255]
    },

    "BooleanOp":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 75, 150, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Choice":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 75, 150, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Selector":
    {
        "category": "Logic",
        "bg": [240, 100, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [240, 100, 90, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Select":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 75, 150, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Repeat":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 75, 150, 255],
        "port_text": [230, 230, 230, 255]
    },

    "DuplicateFlow":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 75, 150, 255],
        "port_text": [230, 230, 230, 255]
    }
}
