{
    "Compare":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 50, 100, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Choice":
    {
        "category": "Logic",
        "bg": [10, 40, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 50, 100, 255],
        "port_text": [230, 230, 230, 255]
    },

    "IntSelector":
    {
        "category": "Logic",
        "bg": [40, 80, 95, 255],
        "border": [40, 80, 95, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [40, 80, 95, 255],
        "port_text": [230, 230, 230, 255]
    },

    "FloatSelector":
    {
        "category": "Logic",
        "bg": [20, 90, 40, 255],
        "border": [20, 90, 40, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 90, 40, 255],
        "port_text": [230, 230, 230, 255]
    },

    "BoolSelector":
    {
        "category": "Logic",
        "bg": [0, 40, 90, 255],
        "border": [0, 40, 90, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [0, 40, 90, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringSelector":
    {
        "category": "Logic",
        "bg": [60, 30, 115, 255],
        "border": [60, 30, 115, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [60, 30, 115, 255],
        "port_text": [230, 230, 230, 255]
    }
}
