{
    "Plus":
    {
        "category": "Math",
        "bg": [10, 70, 30, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 90, 40, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Minus":
    {
        "category": "Math",
        "bg": [10, 70, 30, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 90, 40, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Multiply":
    {
        "category": "Math",
        "bg": [10, 70, 30, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 90, 40, 255],
        "port_text": [230, 230, 230, 255]
    },

    "Divide":
    {
        "category": "Math",
        "bg": [10, 70, 30, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [20, 90, 40, 255],
        "port_text": [230, 230, 230, 255]
    }
}
