{
    "StringAdd":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringReplace":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringCount":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexFindAll":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexSub":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexSelector":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexSearch":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "FloatToString":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringToFloat":
    {
        "category": "String",
        "bg": [20, 90, 40, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 100, 50, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringLength":
    {
        "category": "String",
        "bg": [20, 90, 40, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [30, 100, 50, 255],
        "port_text": [230, 230, 230, 255]
    }
}
