{
    "StringAdd":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringReplace":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StringCount":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexFindAll":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexSub":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexSwitch":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    },

    "RegexSearch":
    {
        "category": "String",
        "bg": [60, 30, 115, 255],
        "border": [125, 125, 125, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [70, 40, 125, 255],
        "port_text": [230, 230, 230, 255]
    }
}
