{
    "MakeNumbers":
    {
        "category": "Test",
        "bg": [90, 125, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [90, 125, 50, 255],
        "port_text": [230, 230, 230, 255]
    },

    "StyleCheck":
    {
        "category": "Test",
        "bg": [90, 125, 150, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [215, 215, 125, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [50, 50, 50, 170],
        "port_text": [230, 230, 230, 255]
    },

    "Plus":
    {
        "category": "Test"
    },

    "Minus":
    {
        "category": "Test"
    },

    "Multiply":
    {
        "category": "Test"
    },

    "Divide":
    {
        "category": "Test"
    },

    "DumpPrint":
    {
        "category": "Test"
    },

    "RaiseError":
    {
        // "category": "Test"
    },

    "DasBlock":
    {
        "category": "Test/Das"
    },

    "MakeDasInt":
    {
        "category": "Test/Das"
    },

    "MakeDasFloat":
    {
        "category": "Test/Das"
    },

    "MakeDasString":
    {
        "category": "Test/Das"
    },

    "MakeDasStruct":
    {
        "category": "Test/Das"
    }
}
